<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Invaders</title>
    <!-- link to arcade style font -->
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <!-- link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <!-- link to Phaser CDN -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.23.0/phaser.min.js"
    ></script>
    <!-- link to the script -->
    <script src="/public/script.js" defer></script>
  </head>

  <body class="index-body">
    <!--this div will house our game canvas-->
    <div class="game-div" id="gameContainer"></div>
  </body>
</html>
